<head>
	<meta charset="utf-8">
	<title>GameRank | Game Reviews</title>
	<meta name="description" content="Read and create reviews and rating for videogames, board games and all kinds of games">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" type="image/png" href="img/favicon/favicon.png?v1">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/favicon/green-highlighter-152-190162.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/favicon/green-highlighter-152-190162.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/green-highlighter-144-190162.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/favicon/green-highlighter-120-190162.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon/green-highlighter-114-190162.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/green-highlighter-72-190162.png">
	<link rel="apple-touch-icon-precomposed" href="img/favicon/green-highlighter-57-190162.png">
	<link rel="icon" href="img/favicon/green-highlighter-32-190162.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="img/favicon/green-highlighter-144-190162.png">
</head>